#logoName {
  font-family: "Times New Roman", serif;
  font-size: 3em;
}

h1 {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 3em;
}

h2 {
  font-family: "Dancing Script", cursive;
  font-size: 3em;
}

ul {
  font-family: "Pacifico", cursive;
  font-size: 3em;
}
